<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>AspNet Core Mvc Ajax File Upload</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="publisher" content="Mikro İnteraktif - Serkan TOGAL" />
    <link rel="publisher" href="https://www.ontedi.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href='@Url.Content("/wwwroot/css/style.css")' />
</head>
<body>
<div class="kapsul">
    <form method="post" enctype="multipart/form-data">
        <h1>AspNet Core Mvc Ajax File Upload</h1>
        <div class="satir">
            <div class="input-kapsul">
                <label class="baslik">Dosya</label>
                <input type="file" name="dosya" class="input js-input-dosya" />
            </div>
        </div>
        <div class="satir">
            <div class="input-kapsul">
                <label class="baslik">Dosya Adı</label>
                <input type="text" name="dosya_adi" class="input js-input-dosya-adi" placeholder="Dosya adı belirtiniz.." />
            </div>
        </div>
    </form>
    <div class="satir">
        <div class="js-dosya-yukle-hedef"></div>
    </div>
    <div class="telif">
        <a href="https://www.ontedi.com">www.ontedi.com</a>
    </div>
</div>
<script type="text/javascript" src='@Url.Content("/wwwroot/js/script.js")'></script>
</body>
</html>